USE [master]
GO
/****** Object:  Database [dataproje]    Script Date: 25.08.2021 13:47:22 ******/
CREATE DATABASE [dataproje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dataproje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dataproje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dataproje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dataproje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dataproje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dataproje]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](30) NULL,
	[Sifre] [varchar](30) NULL,
	[Yetki] [char](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carilers]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carilers](
	[CariID] [int] IDENTITY(1,1) NOT NULL,
	[CariAd] [varchar](30) NOT NULL,
	[CariSoyad] [varchar](30) NOT NULL,
	[CariSehir] [varchar](15) NOT NULL,
	[CariMail] [varchar](50) NULL,
	[CariSifre] [varchar](20) NULL,
 CONSTRAINT [PK_dbo.Carilers] PRIMARY KEY CLUSTERED 
(
	[CariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmen]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmen](
	[DepartmanID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](30) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departmen] PRIMARY KEY CLUSTERED 
(
	[DepartmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detays]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detays](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[urunad] [varchar](30) NULL,
	[urunbilgi] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Detays] PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaturaKalems]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaKalems](
	[FaturaKalemID] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[FaturaID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FaturaKalems] PRIMARY KEY CLUSTERED 
(
	[FaturaKalemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faturalars]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalars](
	[FaturaID] [int] IDENTITY(1,1) NOT NULL,
	[FaturaSeriNo] [char](1) NULL,
	[FaturaSıraNo] [varchar](6) NULL,
	[Tarih] [datetime] NOT NULL,
	[VergiDairesi] [varchar](60) NULL,
	[Saat] [datetime] NOT NULL,
	[TeslimEden] [varchar](30) NULL,
	[TeslimAlan] [varchar](30) NULL,
	[Toplam] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Faturalars] PRIMARY KEY CLUSTERED 
(
	[FaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giders]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giders](
	[GiderID] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Giders] PRIMARY KEY CLUSTERED 
(
	[GiderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoDetays]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoDetays](
	[KargoDetayID] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](200) NULL,
	[TakipKodu] [varchar](30) NULL,
	[Personel] [varchar](30) NULL,
	[Alici] [varchar](30) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoDetays] PRIMARY KEY CLUSTERED 
(
	[KargoDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoTakips]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoTakips](
	[KargoTakipID] [int] IDENTITY(1,1) NOT NULL,
	[TakipKodu] [varchar](30) NULL,
	[Aciklama] [varchar](100) NULL,
	[TarihZaman] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoTakips] PRIMARY KEY CLUSTERED 
(
	[KargoTakipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personels]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personels](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [varchar](30) NULL,
	[PersonelSoyad] [varchar](30) NULL,
	[PersonelGorsel] [varchar](150) NULL,
	[DepartmanID] [int] NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Personels] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisHarekets]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisHarekets](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[CariID] [int] NOT NULL,
	[PersonelID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SatisHarekets] PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uruns]    Script Date: 25.08.2021 13:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uruns](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](30) NULL,
	[Marka] [varchar](30) NULL,
	[Stok] [smallint] NOT NULL,
	[AlisFiyat] [decimal](18, 2) NOT NULL,
	[SatisFiyat] [decimal](18, 2) NOT NULL,
	[Durum] [bit] NOT NULL,
	[UrunGorsel] [varchar](250) NULL,
	[KategoriID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Uruns] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [KullaniciAdi], [Sifre], [Yetki]) VALUES (5, N'yusuf', N'yusuf123', N'M')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Carilers] ON 

INSERT [dbo].[Carilers] ([CariID], [CariAd], [CariSoyad], [CariSehir], [CariMail], [CariSifre]) VALUES (1, N'Ali', N'Su', N'Ankara', N'deneme1@gmail.com', N'1')
INSERT [dbo].[Carilers] ([CariID], [CariAd], [CariSoyad], [CariSehir], [CariMail], [CariSifre]) VALUES (2, N'Mehmet', N'Ünsal', N'Bingöl', N'deneme2', N'2')
INSERT [dbo].[Carilers] ([CariID], [CariAd], [CariSoyad], [CariSehir], [CariMail], [CariSifre]) VALUES (3, N'İbrahim', N'Kesici', N'Sivas', N'deneme3', N'3')
SET IDENTITY_INSERT [dbo].[Carilers] OFF
GO
SET IDENTITY_INSERT [dbo].[Departmen] ON 

INSERT [dbo].[Departmen] ([DepartmanID], [DepartmanAd], [Durum]) VALUES (2, N'Muhasebe', 1)
INSERT [dbo].[Departmen] ([DepartmanID], [DepartmanAd], [Durum]) VALUES (4, N'Servis', 1)
INSERT [dbo].[Departmen] ([DepartmanID], [DepartmanAd], [Durum]) VALUES (5, N'Satış', 1)
SET IDENTITY_INSERT [dbo].[Departmen] OFF
GO
SET IDENTITY_INSERT [dbo].[Detays] ON 

INSERT [dbo].[Detays] ([DetayID], [urunad], [urunbilgi]) VALUES (1, N'Buzdolabı', N'ilk buzdolabı 1913 yılında chicago da üretilmiştir dışı ahşağ içerisi kompresör beneri bir maddedir markası dimelradır.')
INSERT [dbo].[Detays] ([DetayID], [urunad], [urunbilgi]) VALUES (2, N'Telefon', N'Telefon işte ne olacak.')
SET IDENTITY_INSERT [dbo].[Detays] OFF
GO
SET IDENTITY_INSERT [dbo].[FaturaKalems] ON 

INSERT [dbo].[FaturaKalems] ([FaturaKalemID], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [FaturaID]) VALUES (1, N'Televizyon', 1, CAST(5000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemID], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [FaturaID]) VALUES (2, N'Telefon', 1, CAST(2750.00 AS Decimal(18, 2)), CAST(2750.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemID], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [FaturaID]) VALUES (3, N'Telefon', 2, CAST(2750.00 AS Decimal(18, 2)), CAST(5500.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[FaturaKalems] OFF
GO
SET IDENTITY_INSERT [dbo].[Faturalars] ON 

INSERT [dbo].[Faturalars] ([FaturaID], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (1, N'A', N'1012', CAST(N'2021-08-11T00:00:00.000' AS DateTime), N'Beşiktaş', CAST(N'2021-08-11T00:00:00.000' AS DateTime), N'Ali', N'Ayşe', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([FaturaID], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (3, N'B', N'2021', CAST(N'2021-08-11T12:13:40.000' AS DateTime), N'Kadıköy', CAST(N'2021-08-11T12:13:35.000' AS DateTime), N'Mehmet Karabulut', N'Zehra Duman', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([FaturaID], [FaturaSeriNo], [FaturaSıraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (6, N'C', N'3030', CAST(N'2021-08-11T11:32:59.000' AS DateTime), N'Şişli', CAST(N'2021-08-11T11:32:59.000' AS DateTime), N'Arzu Işık', N'Taner Açar', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Faturalars] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoDetays] ON 

INSERT [dbo].[KargoDetays] ([KargoDetayID], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (1, N'Buzdolabı satışı 2 adet', N'227D28C42C', N'Yusuf Kesici', N'Nisa Nur Kesici', CAST(N'2021-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoDetays] ([KargoDetayID], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (2, N'Açıklama yok', N'387B97A90A', N'Ali Demir', N'Demir Bakır', CAST(N'2021-04-14T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoDetays] ([KargoDetayID], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (8, N'Buz Devri', N'811A91D32B', N'Sid', N'Diego', CAST(N'2021-08-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoDetays] OFF
GO
SET IDENTITY_INSERT [dbo].[KargoTakips] ON 

INSERT [dbo].[KargoTakips] ([KargoTakipID], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (1, N'811A91D32B', N'Müşteri Satış Tamamlandı.', CAST(N'2021-08-11T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipID], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (4, N'811A91D32B', N'Kargoya Verildi.', CAST(N'2021-08-11T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipID], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (7, N'811A91D32B', N'Ankara''dan Çıktı', CAST(N'2021-08-11T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoTakips] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (1, N'Beyaz Eşya')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (2, N'Elektronik')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (3, N'Küçük Ev Aletleri')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
GO
SET IDENTITY_INSERT [dbo].[Personels] ON 

INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [DepartmanID], [Durum]) VALUES (1, N'Yusuf', N'Kesici', N'gorsel', 2, 1)
INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [DepartmanID], [Durum]) VALUES (2, N'Osman', N'Gültekin', N'gorsel1', 2, 1)
INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [DepartmanID], [Durum]) VALUES (3, N'Abdullah', N'Demir', N'https://c.pxhere.com/images/19/7c/46618cb85d2260545156f0ffa683-1456591.jpg!d', 4, 1)
SET IDENTITY_INSERT [dbo].[Personels] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisHarekets] ON 

INSERT [dbo].[SatisHarekets] ([SatisID], [Tarih], [Adet], [Fiyat], [ToplamTutar], [CariID], [PersonelID], [UrunID]) VALUES (2, CAST(N'2021-08-09T00:00:00.000' AS DateTime), 3, CAST(3900.00 AS Decimal(18, 2)), CAST(3900.00 AS Decimal(18, 2)), 3, 3, 1)
INSERT [dbo].[SatisHarekets] ([SatisID], [Tarih], [Adet], [Fiyat], [ToplamTutar], [CariID], [PersonelID], [UrunID]) VALUES (10, CAST(N'2021-08-09T00:00:00.000' AS DateTime), 1, CAST(2000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), 3, 1, 3)
INSERT [dbo].[SatisHarekets] ([SatisID], [Tarih], [Adet], [Fiyat], [ToplamTutar], [CariID], [PersonelID], [UrunID]) VALUES (11, CAST(N'2021-08-09T00:00:00.000' AS DateTime), 3, CAST(1800.00 AS Decimal(18, 2)), CAST(5400.00 AS Decimal(18, 2)), 2, 2, 2)
SET IDENTITY_INSERT [dbo].[SatisHarekets] OFF
GO
SET IDENTITY_INSERT [dbo].[Uruns] ON 

INSERT [dbo].[Uruns] ([UrunID], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [KategoriID]) VALUES (1, N'Televizyon', N'Vestel', 13, CAST(3900.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 1, N'https://i.hizliresim.com/p2dDKY.jpg', 9)
INSERT [dbo].[Uruns] ([UrunID], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [KategoriID]) VALUES (2, N'Telefon', N'Xiaomi', 19, CAST(1800.00 AS Decimal(18, 2)), CAST(2750.00 AS Decimal(18, 2)), 1, N'https://st1.myideasoft.com/shop/al/13/myassets/products/279/0-5.jpg?revision=1541149616', 10)
INSERT [dbo].[Uruns] ([UrunID], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [KategoriID]) VALUES (3, N'L Koltuk', N'İkea', 35, CAST(2000.00 AS Decimal(18, 2)), CAST(2590.00 AS Decimal(18, 2)), 1, N'https://statickelebek.mncdn.com/images/thumbs/0010670_welmont-koltuk-takimirelax-mekanizmali.jpeg', 7)
SET IDENTITY_INSERT [dbo].[Uruns] OFF
GO
/****** Object:  Index [IX_FaturaID]    Script Date: 25.08.2021 13:47:23 ******/
CREATE NONCLUSTERED INDEX [IX_FaturaID] ON [dbo].[FaturaKalems]
(
	[FaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmanID]    Script Date: 25.08.2021 13:47:23 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmanID] ON [dbo].[Personels]
(
	[DepartmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CariID]    Script Date: 25.08.2021 13:47:23 ******/
CREATE NONCLUSTERED INDEX [IX_CariID] ON [dbo].[SatisHarekets]
(
	[CariID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonelID]    Script Date: 25.08.2021 13:47:23 ******/
CREATE NONCLUSTERED INDEX [IX_PersonelID] ON [dbo].[SatisHarekets]
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunID]    Script Date: 25.08.2021 13:47:23 ******/
CREATE NONCLUSTERED INDEX [IX_UrunID] ON [dbo].[SatisHarekets]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KategoriID]    Script Date: 25.08.2021 13:47:23 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriID] ON [dbo].[Uruns]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Faturalars] ADD  DEFAULT ((0)) FOR [Toplam]
GO
ALTER TABLE [dbo].[Personels] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[FaturaKalems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_FaturaID] FOREIGN KEY([FaturaID])
REFERENCES [dbo].[Faturalars] ([FaturaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaturaKalems] CHECK CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_FaturaID]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Departmen_DepartmanID] FOREIGN KEY([DepartmanID])
REFERENCES [dbo].[Departmen] ([DepartmanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Departmen_DepartmanID]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_CariID] FOREIGN KEY([CariID])
REFERENCES [dbo].[Carilers] ([CariID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_CariID]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_PersonelID] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personels] ([PersonelID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_PersonelID]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Uruns] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_UrunID]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_Uruns_Kategoris] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoris] ([KategoriID])
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_Uruns_Kategoris]
GO
USE [master]
GO
